@model IEnumerable<HRMSystem.Models.PayRollClass>

@{
    ViewBag.Title = "Show_PayRoll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Show_PayRoll</h2>

<p>
    @Html.ActionLink("Create New", "Add_PayRoll")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasicPay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Allowance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deductions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrossPay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NetPay)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
    foreach (var item in Model)
    {
        <tr>
            <
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasicPay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Allowance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deductions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrossPay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetPay)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
    }

</table>
